/*  Thanks for the font - Svetoslav Simov  (License included in the folder) */

@font-face {
    font-family: 'Uni Sans Thin';
    src: url('Uni Sans Thin.otf');
    /*src: url('Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo300-Regular-webfont.woff') format('woff'),
         url('Museo300-Regular-webfont.ttf') format('truetype'),
         url('Museo300-Regular-webfont.svg#Museo300Regular') format('svg');*/
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Uni Sans Thin Italic';
    src: url('Uni Sans Thin Italic.otf');
    /*src: url('Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo500-Regular-webfont.woff') format('woff'),
         url('Museo500-Regular-webfont.ttf') format('truetype'),
         url('Museo500-Regular-webfont.svg#Museo500Regular') format('svg');*/
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Uni Sans Heavy';
    src: url('Uni Sans Heavy.otf');
    /*src: url('Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo700-Regular-webfont.woff') format('woff'),
         url('Museo700-Regular-webfont.ttf') format('truetype'),
         url('Museo700-Regular-webfont.svg#Museo700Regular') format('svg');*/
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Uni Sans Heavy Italic';
    src: url('Uni Sans Heavy Italic.otf');
    /*src: url('Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo700-Regular-webfont.woff') format('woff'),
         url('Museo700-Regular-webfont.ttf') format('truetype'),
         url('Museo700-Regular-webfont.svg#Museo700Regular') format('svg');*/
    font-weight: normal;
    font-style: normal;

}